#!/usr/bin/env bash

# We need a separate direnv cache for each compute node
direnv_layout_dir() {
    echo "$PWD/.direnv/$(hostname)"
}

# adapt with the path to the environment you want to activate
source_env_if_exists ~/myVisualisationEnv/.envrc
